<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <configSections>
        <section name="DatabaseFactoryConfiguration" type="DatabaseFactory.CustomConfig.DatabaseFactorySectionHandler, DatabaseFactory.CustomConfig, Version=1.0.0.0, Culture=neutral, PublicToken=null"/>
    </configSections>

    <connectionStrings>
        <clear/>
        <add name="localhostConnectionString" providerName="MSSQL" connectionString="Server=localhost; Database=DatabaseFactory; User Id:webaula\ruy.almeida; Password=ExEquipeNova*09"/>
    </connectionStrings>

    <DatabaseFactoryConfiguration Name="DatabaseFactory.ConcreteClass.MSSqlServer" ConnectionStringName="localhostConnectionString" />
</configuration>