<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="customConfigurations">        
            <section 
                name="DatabaseFactoryConfiguration" 
                type="DatabaseFactory.CustomConfig.DatabaseFactorySectionHandler"/>
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <clear/>
        <add name="localhostConnectionString" providerName="MSSQL" connectionString="Server=localhost; Database=DatabaseFactory; User Id:webaula\ruy.almeida; Password=ExEquipeNova*09"/>
    </connectionStrings>

    <DatabaseFactoryConfiguration Name="MSSqlServer" ConnectionStringName="localhostConnectionString" />

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>